/.idea/createContactsWithGooglePlacesAPI.iml
/.idea/misc.xml
/templates/.idea/misc.xml
/.idea/modules.xml
/templates/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/templates/.idea/inspectionProfiles/profiles_settings.xml
/templates/.idea/templates.iml
/.idea/vcs.xml
/templates/.idea/workspace.xml
