<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Contact Creator</title>
        <link rel="stylesheet" type="text/css" href= "indexStyle.css">
	</head>
	<body>
        <br>
        <div id="divForm">
		<form method="post" id="form" align="center">
			<label for="apikey">Enter Google API Key: </label>
            <br>
            <br>
			<input type="text" id="apikey" name="apinumber" autofocus autocomplete="off">

		</form>
		<form method="post" id="form1" align="center">
            <br>
			<label for="apikey1">Enter search query: </label>
            <br>
            <br>
			<input type="text" id="apikey1" name="apinumber1" autofocus autocomplete="off">
            <br>
            <br>
			<button class='myButton'>Send</button>
            <br>
		</form>
		<p id="square"></p>
        <p align="center">ContactCreator by Christoph Raidl</p>
        </div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>
			$('#form1').on('submit', function(e){
				var number = $('#apikey').val();
				var number2 = $('#apikey1').val();
				e.preventDefault();
				$.ajax({
					url: 'https://contactcreator.herokuapp.com/apikey1/',
					data: {'apinumber': number,'apinumber1':number2},
					method: 'POST',
					success: function(data) {
						$('#apikey').val('');
						$('#square').html("Successfully created. Download should start immediately!");
						location.href = data['cardName'];
					}
				});
			});
		</script>
	</body>
</html>
